* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

header, nav, section, footer, aside {
    background-color: aqua;
    padding: 20px;
}

.grilla {
    display: grid;
    grid-template-columns: minmax(350px,20vw) 1fr minmax(250px, 15vw);
    grid-template-rows: repeat(4, 25vh);
    grid-template-areas: 
    "nav header header"
    "nav noticias aside"
    "nav productos aside"
    "nav footer footer";
    gap: 20px;
}

nav {
    grid-area: nav;
    background-color: violet;
}

header {
    grid-area: header;
    background-color: green;
}

.noticias {
    grid-area: noticias;
}

.productos {
    grid-area: productos;
    background-color: gold;
}

aside {
    grid-area: aside;
    background-color: blue;
}

footer {
    grid-area: footer;
    background-color: burlywood;
}

