.contenedor {
    background-color: rgb(67, 64, 64);
    border: 2px solid black;
    height: 98vh;
    display: grid;
    grid-template-columns: repeat(3, 150px);
    grid-template-rows: repeat(4, 150px);
    justify-items: center;
    align-items: end;
    justify-content: space-evenly;
}

.caja {
    background-color: red;
    border: 2px solid black;
    font-size: 3rem;
    height: 100px;
    width: 100px;
}

.caja-posicionada {
    background-color: aqua;
    grid-column: 2/4;
    grid-row: 2/4 ;
    align-self: center;
    justify-self: center;
}

